<h1>Welcome to Big10</h1>

<h2>See all outdoor enthusiasts!</h2>

<% @users.each do |u| %>
	<ul>
		<li>
			<%= image_tag u.image.url %>
			<%= link_to u.name, user_path(u) %>
			<%= u.city %>
		</li>
	</ul>
<% end %>




