<h1>Edit <%= @post.title %></h1>

<%= render 'post_form' %>
<br>
<%= link_to "Delete Event", :post, method: :delete, data: { confirm: "Are you sure?"} %><br>
<%= link_to "Post Index Page", posts_path %>

